# Spring Boot
/spring-boot-api/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraformrc
terraform/terraform.rc
terraform/tfplan
terraform/tfdestroyplan
terraform/.terraform.lock.hcl

# Environment Variables
.env
*.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.tar
*.jar